
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body {
    background-color: #D8251D;
    
    
    
    font-size: 50px;
    font-size: large;
    
    
}
#DE{
    border-style: solid;
    border-width: 0px 3px 0px 3px;
    padding: 1px;
}


.search {
  width: 100%;
  position: relative
}

.searchTerm {
  float: left;
  width: 100%;
  border: 3px solid #343A40;
  padding: 5px;
  height: 38px;
  border-radius: 5px;
  outline: none;
  color: #E3E8ED;
}

.searchTerm:focus{
  color: black;
}

.searchButton {
  position: absolute;  
  right: -50px;
  width: 42px;
  height: 38px;
  border: 1px solid #343A40;
  background: #343A40;
  text-align: center;
  color: #D8251D;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  margin-top: 25px;
  left: 50%;
  transform: translate(-50%, -50%);
}
#tableView{
    
    margin-top: 310px;
    font-size: 50px;
    font-size: large;
    background-color: #D8251D;
    color: beige;
   
    
}

